@import url('flex.css');
@import url('utility.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset the body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.logo {
  height: 50px;
}

.border-bottom-colored {
  border-bottom: 2px solid tomato;
}

.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

main {
  flex: 1;
}
footer {
  flex-shrink: -1;
}
.h-600 {
  height: 600px;
}


.img-same-195{
  width:195px;
  height: 225px;
}
.same-jackets{
  width: 230px;
  height: 350px;
}

.size-132{
  width: 132px;
  height: 132px;
}

.map{
  width: 100%;
  height: 500px;
}

.banner{
    height: 550px;
  }
.testominial-min-height{
  min-height: 150px !important;
}

body{
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .banner{
    height: 500px;
  }
}

@media screen and (min-width: 577px) {

}

@media screen and (min-width: 769px) {

}